* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
}


/* Enlaces*/
a {
    color: black;
    text-decoration: none;
}


/* Botones*/
.boton {
    background-color: #7A4480;
    color: #ffffff;
    font-size: 0.9375rem;
    padding: 0.8em 3.2em;
    border-radius: 100px;
    align-self: center;
}

.boton:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(122, 68, 128, 0.6);
}

.boton:active {
    transform: scale(0.95);
    box-shadow: none;
}


/* Nav Bar */

.custom-navbar {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    z-index: 1000;
    backdrop-filter: blur(1.3px);
}

.custom-navbar .nav-link {
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1.25rem;
}

.nav-link:hover {
    transform: scale(1.10);
    opacity: 0.6;
}

.logotipoNav {
    height: 3.125rem;
    width: 3.125rem;
    margin: 1rem 0 1rem 2.2rem;
}

.logoLetra {
    height: 2.5rem;
    width: 5rem;
    margin: 1rem 0;
}

.logosRedes {
    height: 1.25rem;
    width: 1.25rem;
}

.logosRedes:hover {
    transform: scale(1.05);
    opacity: 0.7;
}



/* Títulos h1 */
.mih1 {
    color: #525252;
    text-align: center;
    font-size: 2.375rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.mih1 span p {
    display: inline-block;
    color: #ffc107;
    font-size: 3.125rem;
    font-weight: 100;
    font-family: "Shantell Sans";
    margin-bottom: 0rem;

}


/* Títulos h2 */
.mih2 {
    color: #525252;
    text-align: center;
    font-size: 1.75rem;
    margin: 25vh 0 9vh 0;
    font-weight: 700;
}

.mih2 span p {
    display: inline-block;
    color: #ffc107;
    font-size: 2.5rem;
    font-weight: 100;
    font-family: "Shantell Sans";

}


/* Párrafos*/
miP {
    color: black;
}


/* Footer*/
footer {
    background-color: #ffffff;
}

footer p {
    color: #ffc107;
    font-size: 0.9375rem;
    font-weight: 700;
}

footer a {
    font-size: 0.9375rem;
    font-weight: 500;
}

footer a:hover {
    transform: scale(1.05);
    opacity: 0.7;
}

#derechosdeautor {
    color: #999999;
    font-size: 0.75rem;
    font-weight: 300;
    padding: 2% 20% 1%;
}


/* Imagenes */

.imagenPresentacion {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    margin-bottom: 100px;
    display: block;
    z-index: 1;
}

.imagenPequena {
    height: 40vh;
    width: 25vw;
    max-width: 500px;
    max-height: 325px;
    border-radius: 2rem;
    object-fit: cover;
}

.imagenMediana {
    height: 70vh;
    width: 40vw;
    max-width: 650px;
    max-height: 450px;
    min-width: 250px;
    min-height: 225px;
    border-radius: 2rem;
    object-fit: cover;
}


.imagenDestinos {
    height: 40vh;
    width: 33vw;
    max-width: 610px;
    max-height: 380px;
    min-width: 300px;
    border-radius: 2rem;
    object-fit: cover;
}


.imagenGrande {
    width: 100%;
    max-width: 1500px;
    height: auto;
    max-height: 550px;
    border-radius: 2rem;
    object-fit: cover;
}



/* GRADIENTE IMÁGENES  */

.contenedorGradiente {
    position: relative;
    margin: 0vw 2vw 0vw 2vw;
}


.gradiente {
    position: absolute;
    border-radius: 0rem 0rem 2rem 2rem;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, black, transparent);
}

.textoGradiente {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    width: 80%;
}

.contenedorGradientePresentacion {
    position: relative;
}

.gradientePresentacion {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black, rgba(255, 255, 255, 0.148));
}



/* FLEX BOX Y BOX MODEL*/


/* footer*/
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
    padding: 2rem 1rem 1rem;
    margin-top: 8rem;
    gap: 2rem;
}

.contenedorSeccionesFooter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;

}


.seccionesFooter {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 2.5rem 0rem 2.5rem;
    max-width: 130px;
}

.seccionesFooter a {
    margin: 0rem 0rem 0.8rem 0rem;
}

.subcategoriasFooter {
    margin: 0rem 0rem 1.3rem 0rem;
}

.logotipo {
    height: auto;
    max-height: 120px;
    margin: 2rem 0rem;
}

/* INDEX*/



.miContainer {
    display: flex;
    justify-content: center;
    margin: 0vh 6vw;
}

.carousel {
    width: 100%;
}

.carousel-control-next {
    opacity: 100%;
}

.carousel-control-prev {
    opacity: 100%;
}

.bienvenidaPatronZ {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem
}

.bienvenidaPatronZ div {
    display: flex;
    flex-direction: column;
}

.textoPatronZ {
    padding: 0;
    max-width: 30rem;
    min-width: 50px;
    margin-bottom: 1.5rem;
}

.miCard p {
    padding: 0rem .9375rem 1.25rem;
    max-width: 400px;
}

.cajaDeCards {
    display: flex;
    flex-wrap: wrap;
    margin: 6vh 0vw;
    justify-content: center;
    align-items: center;
}


/* SOBRE MI*/

.h2SobreMi {
    margin: 6vh 4vw 0vh;
    text-align: center;

    color: #525252;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
}

.h2SobreMi span p {
    display: inline-block;
    color: #ffc107;
    font-size: 2.5rem;
    font-weight: 100;
    font-family: "Shantell Sans";

}


.textoBienvenidaSobreMi {
    width: 60%;
    margin: 3rem;
    align-self: center;
}

.instantesDeViaje {
    display: flex;
    flex-direction: column;
    margin: 6vh 2vw;
}

.fotosSobreMi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0rem 0rem 1.5rem;
    gap: 7vh;
}


/* DESTINOS*/

.seccionesDestino {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    padding: 0vh 25vh;
    gap: 9vh 0vh;
}

.imagenDestinos1 {
    grid-column: 1;
    grid-row: 1;
}


.imagenDestinos2 {
    grid-column: 2;
    grid-row: 1;
}

.imagenDestinos3 {
    grid-column: 1;
    grid-row: 2;
}

.imagenDestinos4 {
    grid-column: 2;
    grid-row: 2;
}



/* FOTOGRAFIA*/

#seccionVidaEnFoco {
    display: flex;
    flex-direction: column;
}

.textoBienvenida {
    width: 60%;
    padding: 1rem;
    align-self: center;
}

.seccionFotografias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 4rem 3rem 0rem;
    gap: 2rem 1.5rem;
}

.miCard {
    width: calc(33.33% - 40px);
    min-width: 250px;
    text-align: center;
}

#galeriaFotos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulosFotografia {
    color: #525252;
    text-align: center;
    font-size: 2.375rem;
    font-weight: 800;
    margin: 3rem auto 2rem;
}

.titulosFotografia span p {
    display: inline-block;
    color: #ffc107;
    font-size: 3.125rem;
    font-weight: 100;
    font-family: "Shantell Sans";
    margin-bottom: 0rem;

}


/* BLOG*/
#contenedorBodyBlog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    padding: 0 2rem;
    margin: 0 auto;
}

.contenedorCardsBlog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem 2rem;
    max-width: 1200px;
    gap: 2rem;
}

#seccionBlog {
    display: flex;
    flex-direction: column;

}

.textoBienvenidaBlog {
    width: 60%;
    margin: 2rem auto;
    align-self: center;
    padding: 0 1rem;
}

.mih1Blog {
    color: #525252;
    text-align: center;
    font-size: 2.375rem;
    font-weight: 800;
    margin: 5rem auto 2rem;
}

.mih1Blog span p {
    display: inline-block;
    color: #ffc107;
    font-size: 3.125rem;
    font-weight: 100;
    font-family: "Shantell Sans";
    margin-bottom: 0rem;

}


.mih2Blog {
    color: #525252;
    text-align: center;
    font-size: 1.75rem;
    margin: 25vh 0 9vh 0;
    font-weight: 700;
    margin: 5rem auto 2rem;
}

.mih2Blog span p {
    display: inline-block;
    color: #ffc107;
    font-size: 2.5rem;
    font-weight: 100;
    font-family: "Shantell Sans";

}



/* MEDIA QUERIES*/

@media (max-width:1100px) {

    /* index*/

    .bienvenidaPatronZ {
        flex-wrap: nowrap;
    }

    .textoPatronZ {
        max-width: 25rem;
        margin-bottom: 2rem;
        font-size: 1.1rem;
    }

    .boton {
        font-size: 0.9rem;
        padding: 0.60rem 4rem;
    }

    .miCard P {
        font-size: 1.1rem;
    }

}


@media (max-width:768px) {

    /* Index*/

    body {
        font-size: 1.15rem;
    }

    p {
        margin: 0;
    }

    .mih1 {
        font-size: 2rem;
    }

    .mih1 span p {
        font-size: 2.8rem;
    }


    .mih2 {
        font-size: 1.6rem;
        margin: 90px 0px 41px;
    }

    .mih2 span p {
        font-size: 2.1rem;
        font-weight: 100;
    }

    .imagenMediana {
        height: auto;
        width: auto;
    }

    .imagenPequena {
        height: 40vh;
        width: 80vw;
        max-width: 1000px;
    }

    .imagenPresentacion {
        margin-bottom: 6vh;
    }

    .bienvenidaPatronZ {
        flex-wrap: wrap;
        gap: 3rem;
    }

    .textoPatronZ {
        max-width: 40rem;
        margin-bottom: 2.5rem;
    }

    .cajaDeCards {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 80px 0px;
    }

    .miCard {
        width: auto;
    }

    .miCard p {
        padding: 0rem .9375rem 1.25rem;
        max-width: 400px;
        padding: 0;
    }

}



@media (max-width:576px) {

    /* Footer*/
    .logotipo {
        height: 6rem;
        margin: 0;
    }

    .contenedorSeccionesFooter {
        width: 100%;
        gap: 0.2rem;

    }

    .seccionesFooter {
        padding: 10px;
        margin: 0;
        max-width: 100px;
    }

    #derechosdeautor {
        padding: 0;
    }

    /* Index*/

    .miContainer {
        margin: 0;
    }

    .mih1 {
        margin-bottom: 0.8rem;
        font-size: 1.5rem;
        font-weight: 800;
    }

    .mih1 span p {
        display: inline-block;
        color: #ffc107;
        font-size: 2.2rem;
    }

    body {
        font-family: "Inter", sans-serif;
        font-size: 1rem;
    }

    .boton {
        font-size: 0.80rem;
        padding: 0.40rem 1.25rem;
    }

    .mih2 {
        font-size: 1.5rem;
        margin: 60px 0px 40px;
        font-weight: 700;
    }

    .mih2 span p {
        font-size: 2.2rem;
        font-weight: 100;


    }

    .cajaDeCards {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .imagenPequena {
        width: 70vw;
    }

    .miCard {
        width: auto;
    }

    .miCard p {
        padding: 0rem .9375rem 1.25rem;
    }



    /* Sobre Mí*/




}