//MIXIN IMAGENES

@mixin imagenes($height, $width, $object-fit, $border-radius, $max-width, $max-height, $min-width, $min-height) {
    height: $height;
    width: $width;
    object-fit: $object-fit;
    border-radius: $border-radius;
    max-width: $max-width;
    max-height: $max-height;
    min-width:$min-width;
    min-height:$min-height;
}

@mixin titulos($font-size, $font-weight, $color, $text-align, $margin-bottom) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
    text-align: $text-align;
    margin-bottom: $margin-bottom;
  }


  @mixin patronZ($direction,$wrap,$justify,$align,$padding) {
    display:flex;
    flex-direction:$direction;
    flex-wrap:$wrap;
    justify-content:$justify;
    align-items:$align;
    padding:$padding;
  }
