//VARIABLES IMAGENES
$object-fit: cover;
$border-radius: 2rem;
$background-gradiente: linear-gradient(to top, black, transparent);

//VARIABLES TYPOGRAPHY
$font-family-body: "Inter", sans-serif;
$font-family-secundaria: "Shantell Sans";
$font-size-h1: 2.375rem;
$font-size-h2: 1.75rem;
$font-size-p: 1.25rem;
$font-weight-800: 800;
$font-weight-700: 700;
$font-weight-100: 100;
$font-weight-300: 300;

//VARIABLES COLORES
$color-gris-borderTop: #ddd;
$color-blanco: #ffffff;
$color-gris-titulos: #525252;
$color-amarillo-primario: #ffc107;
$color-gris-derechosAutor: #999999;
$color-violeta-secundario:#7A4480;
$color-negro-secundario:#000000;

//VARIOS
$display-inline-block: inline-block