/* Botones*/
.boton {
    position: relative;
    background-color: #7A4480;
    color: $color-blanco;
    font-size: 0.9375rem;
    padding: 0.8em 3.2em;
    border-radius: 100px;
    align-self: center;
    overflow: hidden;
    z-index: 0;
    transition: transform 0.3s ease;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -75%;
        width: 50%;
        height: 100%;
        background: linear-gradient(120deg,
                rgba(122, 68, 128, 0.1) 0%,
                rgba(180, 116, 189, 0.5) 50%,
                rgba(122, 68, 128, 0.1) 100%);
        transform: skewX(-20deg);
        opacity: 0;
        transition: all 0.5s ease;
        z-index: 1;
    }

    &:hover::before {
        left: 120%;
        opacity: 1;
    }

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }
}