/* Imagenes */

.imagenPresentacion{
    @include imagenes(100vh, 100%, $object-fit,0);
    margin-bottom:100px;
    display:block;
    z-index: 1;
}

.imagenPequena{
    @include imagenes(40vh, 25vw,$object-fit,$border-radius,500px,325px)  
}
    
.imagenMediana {
    @include imagenes(70vh,40vw,$object-fit,$border-radius,650px,450px,250px,225px)
}

.imagenDestinos {
   @include imagenes(40vh,33vw,$object-fit,$border-radius,610px,380px,300px)
}

.imagenGrande {
    @include imagenes(auto,100%,$object-fit,$border-radius,1500px,550px)
}



