/* DESTINOS*/

.seccionesDestino {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  padding: 0 10vw;
  gap: 7vh 0;
}

.imagenDestinos {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}


$imagenes-destino: (
  1: (1, 1),
  2: (2, 1),
  3: (1, 2),
  4: (2, 2)
);

@each $i, $coords in $imagenes-destino {
  .imagenDestinos#{$i} {
    grid-column: nth($coords, 1);
    grid-row: nth($coords, 2);
  }
}