/* FOTOGRAFIA*/

#seccionVidaEnFoco {
    @include flexbox(column)
}

.textoBienvenida {
    width: 60%;
    padding: 1rem;
    align-self: center;
}

.seccionFotografias {
    @include flexbox(row, center, stretch, wrap);
    padding: 4rem 3rem 0rem;
    gap: 3rem 3rem;

}

.seccionFotografias {
    .miCard {
        .imagenPequena {
            height: 100%;
            width: 100%;
        }
    }
}

#galeriaFotos {
    @include flexCentrado
}

.titulosFotografia {
    @include titulos($font-size-h1, $font-weight-800, $color-gris-titulos, center);
    margin: 3rem auto 2rem;

    span p {
        @include spanTitulos($display-inline-block, $color-amarillo-primario, 3.125rem, $font-weight-100, $font-family-secundaria, 0)
    }
}