/* SOBRE MI*/

.textoBienvenidaSobreMi {
    max-width: 60rem;
    margin-bottom: 30px;
    align-self: center;
}

.instantesDeViaje {
    @include flexCentrado;
    flex-direction: column;
    margin: 6vh 80px;
}

.fotosSobreMi {
    @include flexbox(row, center, center, nowrap);
    gap: 7vh;

    .imagenPequena {
        width: 25%;
    }
}

.h2SobreMi {
    @include titulos($font-size-h2, $font-weight-700, $color-gris-titulos, center);
    margin: 15vh 0 9vh 0;

    span  {
        @include spanTitulos($display-inline-block, $color-amarillo-primario, 2.5rem, $font-weight-100, $font-family-secundaria, 0)
    }
}

.bienvenidaPatronZ {
    .h2SobreMi {
        @include titulos($font-size-h2, $font-weight-700, $color-gris-titulos, center);
        margin: 0px 0px 30px;

        span  {
            @include spanTitulos($display-inline-block, $color-amarillo-primario, 2.5rem, $font-weight-100, $font-family-secundaria, 0)
        }
    }
}