/* SOBRE MI*/

.textoBienvenidaSobreMi {
    max-width: 60rem;
    margin-bottom: 30px;
    align-self: center;
}

.instantesDeViaje {
    @include flexCentrado margin: 6vh 2vw;
}

.fotosSobreMi {
    @include flexbox(wrap) padding: 0rem 0rem 1.5rem;
    gap: 7vh;
    margin-bottom: 5rem;
}